<div data-controller='navigation-selector'
     data-navigation-selector-listing-option-value='<%= Kubik::NavigationItem::LISTING_FORM_VALUE %>'
     data-navigation-selector-listing-option-label-value='<%= I18n.t(:kubik_listing_form_option_label) %>'
     data-navigation-selector-item-type-value='<%= @resource.item_type %>'
     data-navigation-selector-resource-type-value='<%= @resource.resource_type %>'
     data-navigation-selector-item-action-value='<%= @resource.action %>'
     data-navigation-selector-selected-resource-value='<%= @resource.params.to_json %>'
     data-navigation-selector-resource-source-url-value='<%= get_resources_admin_kubik_navigation_items_url(format: :json) %>'
     data-navigation-selector-new-record-value='<%= @resource.new_record? %>'
>

<%= semantic_form_for @resource, url: admin_kubik_navigation_item_path(@resource), html: { data: { turbo: false } } do |f| %>
  <%= render 'admin/kubik/navigation_items/form', f: f %>
<% end %>
</div>

